🔄 <strong>Epoch progress</strong><br>
<code>{progress_bar} {perc:.1f}%</code><br>
    current epoch: <code>{current_epoch}</code><br>
    remaining time: <code>{remaining_time}</code><br>
    slot no.: <code>{current_slot}</code><br>
    slot in epoch: <code>{slot_in_epoch}</code>/432000<br>
    txs in epoch: <code>{txs_in_epoch}</code><br>
    fees in epoch: <code>{fees_in_epoch} ₳</code><br>
💰 <strong>Stake info</strong><br>
    active stake: <code>{active_stake} ₳</code><br>
    pools: <code>{n_active_stake_pools}</code><br>
