<strong><code>{ticker}</code> {name}</strong><br>
<emphasis>{description}</emphasis><br>
🌐{homepage}<br>
<br>
<strong>🆔 Pool ID</strong><br>
<code>{pool_id}</code><br>
<br>
<strong> ℹ️ Pool info</strong><br>
    pledge: <code>{pledge} ₳</code><br>
    cost: <code>{fixed_cost} ₳</code><br>
    margin: <code>{margin}%</code><br>
    <br>
<strong>📈 Metrics</strong><br>
    saturation: <code>{saturation:.2f}% {saturation_symbol}</code><br>
    controlled stake: <code>{controlled_stake_perc:.3f}%</code><br>
    active stake: <code>{active_stake_amount} ₳</code><br>
      ↳ delegators: <code>{delegators_count}</code><br>
    lifetime blocks: <code>{blocks_count}</code><br>