<strong><code>{ticker}</code> {name}</strong>
<em>{description}</em>
🌐 {homepage}

<strong>🆔 Pool ID</strong>
<code>{pool_id}</code>

<strong>ℹ️ Pool info</strong>
    pledge: <code>{pledge} ₳</code>
    cost: <code>{fixed_cost} ₳</code>
    margin: <code>{margin:.2f}%</code>
    
<strong>📈 Metrics</strong>
    saturation: <code>{saturation:.2f}% {saturation_symbol}</code>
    controlled stake: <code>{controlled_stake_perc:.3f}%</code>
    active stake: <code>{active_stake_amount} ₳</code>
      ↳ delegators: <code>{delegators_count}</code>
    blocks this epoch: <code>{epoch_blocks_count}</code>
    lifetime blocks: <code>{lifetime_blocks_count}</code>
