<b><code>{ticker}</code> {pool_name}</b>
<i>{desc}</i>
🌐{homepage}

<b>🆔 풀 식별자</b>
<code>{pool_id}</code>

<b>ℹ️ 풀 정보</b>
    순위: <code>#️{pool_rank}</code>
    담보량: <code>{pledge} ₳</code>
    풀고정수수료: <code>{cost} ₳</code>
    풀운영수수료: <code>{margin_perc}%</code>

<b>📈 상세정보</b>
    포화도: <code>{saturat:.2f}% {saturat_symbol}</code>
    위임점유율: <code>{rel_stake_perc:.3f}%</code>
    활성 위임량: <code>{active_stake} ₳</code>
      ↳ 위임자수: <code>{n_active_delegators}</code>
    현재 위임량: <code>{live_stake} ₳</code>
      ↳ 위임자수: <code>{n_live_delegators}</code>

<b>🎲 블록</b>
    예측 블록수 (해당 에포크): <code>~{expected_blocks:.1f}</code>
    총 생성 블록수: <code>{blocks}{block_produced_symbol}</code>


<i>실시간 메트릭스 업데이트 {updated_time_ago} 전</i>